<template>
  <div class="container">
    <Title :title="'LINE PODCAST'" />
    <div class="playlists" v-for="(i, k) in playlists" :key="k">
      <div class="title">{{ i.playlist }}</div>
        <div class="albums">
          <Album
            v-for="(item, index) in i.albums"
            :key="index"
            :title="item.title"
            :author="item.author"
            :image="item.image" />
      </div>
    </div>
  </div>
</template>

<script>
import Album from "@/components/common/Album.vue";
import Title from "@/components/common/Title.vue";
import playlists from '../static/p.json'
const axios = require('axios')
export default {
  name: "home",
  data () {
    return {
      playlists: playlists,
    }
  },
  components: {
    Title,
    Album,
  },
  async mounted() {
    const response = await axios.get('https://us-central1-podcast-b079f.cloudfunctions.net/api/channels')
    console.log(response)
  }
};
</script>
