<template>
    <div class="container">
        <Title :title="'คำนี้ดี'" :backIcon="true" :routeName="'detail'" />
        <div class="player-info">
            <div class="cover">
                <img :src="item.cover" />
            </div>
            <div class="info">
                <h1>{{ item.title }}</h1>
                <p>{{ item.description }}</p>
            </div>
        </div>

        <div class="player-control">
            <div class="progress">
                <div class="progress-bar" :style="{ width: percent+'%' }" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="controller">
                <button>
                    <i class="far fa-redo fa-flip-horizontal"></i>
                </button>
                <button>
                    <i class="far fa-pause" @click="toggle" v-if="isPlaying"></i>
                    <i class="far fa-play" @click="toggle" v-else></i>
                </button>
                <button>
                    <i class="far fa-redo"></i>
                </button>
            </div>
            <div class="timer">
                <span>{{ item.speed }}</span>
                <span>{{ time }}</span>
            </div>

            <Player @isLoading="setLoading" @playStat="setPlayStat" @isPlaying="setPlaying" :url="item.url" :type="item.type" />
        </div>
    </div>
</template>

<script>
import Player from '@/components/common/Player'
import Title from "@/components/common/Title.vue";
import { EventBus } from '@/eventbus'

function toHHMMSS (sec) {
    var sec_num = +sec; // don't forget the second param
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = parseInt(sec_num - (hours * 3600) - (minutes * 60));

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+(seconds);}
    return (hours)+':'+(minutes)+':'+ (seconds);
}

export default {
  components: {
      Player,
      Title,
  },
  name: 'player',
  computed: {
    time() {
      return `${toHHMMSS(this.playStat.playedTime)} / ${toHHMMSS(this.playStat.duration)}`
    },
    percent() {
      const percent = (+this.playStat.playedTime/+this.playStat.duration)*100
      return percent
    },
  },
  data() {
      return {
      isLoading: true,
      isPlaying: false,
      playStat: {
        duration: 0,
        loadedTime: 0,
        playedTime: 0,
      },
      backgroundColor:'#00c700',
      header: 'คำนี้ดี',
      item: {
          title: 'KND235 เหตุผลที่เราต้องหัดเป็นผู้รับบ้าง',
          description:
          '“เป็นผู้ให้” ฟังแล้วดูเป็นคนดี น่าอิ่มอกอิ่มใจ และน่าภูมิอกภูมิใจ แต่ถ้าเอาแต่ให้จนไม่ยอมเป็นฝ่ายรับเลยโดยสิ้นเชิง เชื่อไหมว่าสามารถนำไปสู่ความเป๋ในชีวิตได้เช่นกัน',
          cover: 'https://mcdn.podbean.com/mf/web/4uutcd/EP235_KND_1.jpg',
          author: 'THE STANDARD',
          speed: 'X1',
          time: '00:03:24 / 00:12:00',
          url: "https://mcdn.podbean.com/mf/web/i8v5p5/KND235.mp3",
          type: "audio/mp3"
      },
    }
  },
  methods: {
    toggle () {
      EventBus.$emit('togglePlayer', 'toggle')
    },
    setLoading(data) {
      this.isLoading = data
    },
    setPlaying(play) {
      this.isPlaying = play
    },
    setPlayStat(val) {
      this.playStat = val
    }
  },
}
</script>
