<template>
  <div class="container">
    <Title :title="'LINE PODCAST'" :backIcon="true"/>
    <PodcastDetail
      :url="this.playlists[0].Recommended.image.url._text"
      :title="this.playlists[0].Recommended.title._text"
      :author="this.playlists[0].Recommended.author._text"
      :content="this.playlists[0].Recommended.summary._text"
    />
    <div class="lists">
      <PodcastSubList
        v-for="(data, index) in this.playlists[0].Recommended.item"
        :key="index"
        :name="''"
        :detial="data.title._text"
        :date="dayjs(data.pubDate._text).format('DD MMM YYYY') + ' ' + data.duration._text"
      >
        <template v-slot:button>
          <PlayButton @click.native="goToPlayer" />
        </template>
      </PodcastSubList>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import PodcastDetail from '../components/common/PodcastDetail.vue';
import PodcastSubList from '../components/common/PodcastSubList.vue';
import PlayButton from '../components/common/PlayButton.vue';
import Title from "@/components/common/Title.vue";
import playlists from '../static/playlists.json'
import dayjs from 'dayjs'

// dayjs.locale('th')

export default Vue.extend({
  components: {
    Title,
    PodcastDetail,
    PodcastSubList,
    PlayButton,
  },
  data() {
    return {
      playlists: playlists,
    };
  },
  methods: {
    goToPlayer() {
      this.$router.push("/player");
    },
    log(data) {
      // eslint-disable-next-line
      console.log(data)
    },
    dayjs: dayjs,
  }
});
</script>
