// COLOR SETUP
@bg-color: #EEEEEE;
@bg-container: #FFFFFF;

@primary-color: #00438c;
@second-color: #c8cf61;

@font-color-normal: #333333;
@font-color-dark: #111111;
@font-color-light: #999999;
@font-color-white: #FFFFFF;

@border-color: #EEEEEE;
@border-color-hover: #DDDDDD;

@color-green: #5be1a2;
@color-yellow: #f4de66;
@color-orange: #f4aa55;
@color-red: #e66464;

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a[href], button {
    -ms-touch-action: none; /* IE10 */
    touch-action: none;     /* IE11 */
}
body {
    background: @bg-color;
    overflow-x: hidden;
    font-family: @Font-normal;
}
.transitionAnimation(@s) {
    transition: all @s ease-in-out;
    -moz-transition: all @s ease-in-out;
    -webkit-transition: all @s ease-in-out;
    -o-transition: all @s ease-in-out;
}