@font-face {
  font-family: 'Maledpan';
  src: url('../fonts/Maledpan/maledpan-regular-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@Font-normal: sans-serif;
@Font-Maledpan: 'Maledpan', sans-serif;
