@import 'reset';
@import 'font-face';
@import 'config';

.container {
  width: 400px;
  margin: 50px auto;
  background: #FFFFFF;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titlebar {
    width: 100%;
    display: flex;
    font-size: 1.4em;

    .icon-left {
      padding: 20px;
      width: 10%;
      color: #0AC700;

      &:hover {
        cursor: pointer;
      }
    }
    .title {
      padding: 20px;
      text-align: center;
      width: 80%;
      font-weight: bold;
      color: #333333;
      font-family: @Font-Maledpan;
    }
    .icon-right {
      width: 10%;
      padding: 20px;
      text-align: right;
      color: #0AC700;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .player-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

    .progress {
      width: 100%;
      height: 7px;
      background: #EEEEEE;
      border-radius: 20px;
      margin-bottom: 40px;
      position: relative;

      .progress-bar {
        position: absolute;
        top: -2px;
        left: 0;
        width: 20%;
        height: 11px;
        border-radius: 20px;
        background: #0AC700;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
      }
    }
    .controller {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
      align-items: center;

      button {
        width: 70px;
        height: 70px;
        border: 0;
        font-size: 2.2em;
        color: #0AC700;

        i.fa-play {
          font-size: 1.5em;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
    .timer {
      display: flex;
      justify-content: center;
      font-family: @Font-Maledpan;
      font-size: 1.1em;
      margin-bottom: 40px;
      color: #666666;

      span {
        margin: 0 10px;
      }
    }
  }
  .player-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

    .cover {
      width: 100%;
      margin-bottom: 20px;

      img {
        width: 100%;
        min-height: 170px;
        float: left;
        border-radius: 7px;
        border: 1px solid #EEEEEE;
        background: #EEEEEE;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
      }
    }

    .info {
      font-family: @Font-Maledpan;
      h1 {
        font-size: 1.4em;
        color: #333333;
      }
      p {
        font-size: 1.1em;
        color: #666666;
      }
    }
  }

  .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0;

    .head {
      display: flex;

      .image {
        width: 40%;

        img {
          width: 100%;
          float: left;
          border-radius: 7px;
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
        }
      }
      .content {
        width: 60%;
        font-family: @Font-Maledpan;
        box-sizing: border-box;
        padding-left: 20px;

        h1 {
          font-size: 2em;
          color: #333333;
        }
        p {
          font-size: 1.1em;
          color: #666666;
        }
      }
    }
    .info {
      font-size: 1.1em;
      font-family: @Font-Maledpan;
      letter-spacing: 0.03em;
      margin-top: 20px;
      color: #666666;
    }
  }

  .playlists {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 20px;
      font-family: @Font-Maledpan;
      letter-spacing: 0.05em;
      color: #0AC700;
    }

    .albums {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-y: scroll;
      overflow-x: none;

      .album-item {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
  
        .image {
          width: 150px;
          height: 150px;
          margin-bottom: 20px;
          
          img {
            width: 100%;
            float: left;
            object-fit: cover;
            border-radius: 7px;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);

            &:hover {
              cursor: pointer;
              opacity: 0.7;
            }
          }
        }
        .content {
          h1 {
            font-family: @Font-Maledpan;
            font-size: 1.2em;
            color: #333333;
          }
          p {
            font-family: @Font-Maledpan;
            color: #999999;
            font-size: 0.8em;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .lists {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .item {
      width: 100%;
      border-bottom: 1px solid #EEEEEE;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      .play-button {
        width: 20%;

        button {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          text-align: center;
          font-size: 1.5em;
          line-height: 1em;
          padding: 0;
          padding-left: 3px;
          margin: 0;
          box-sizing: border-box;
          border: 2px solid #EEEEEE;
          color: #0AC700;

          &:hover {
            cursor: pointer;
            border: 2px solid #0AC700;
          }
        }
      }
      .content {
        width: 80%;
        display: flex;
        flex-direction: column;
        font-family: @Font-Maledpan;

        // .name {}
        .detial {
          color: #333333;
          font-size: 1.2em;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .date {
          font-size: 0.8em;
          color: #999999;
        }

        &:hover {
          cursor: default;
        }
      }
    }
  }
}

/* Other Device and Screen */
@media only screen and (min-width:1910px) { @import "style-1920"; }
@media only screen and (min-width:1024px) and (max-width:1365px){ @import "style-1024-1366"; }
@media only screen and (min-width:760px) and (max-width:1023px){ @import "style-760-1023"; }
@media only screen and (min-width:520px) and (max-width:759px){ @import "style-520-759"; }
@media only screen and (min-width:0px) and (max-width :519px){ @import "style-0-519"; }