<template>
  <div class="album-item" @click="goto()">
    <div class="image">
      <img :src="image" />
    </div>
    <div class="content">
      <h1>{{ title }}</h1>
      <p>{{ author }}</p>
    </div>
  </div>
</template> 
<script>
import Vue from 'vue';

export default Vue.extend({
  props: {
    title: {
      type: String,
      required: true
    },
    author: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  },
  methods: {
    goto() {
      this.$router.push("/detail");
    }
  }
});
</script>
