<template>
  <div class="pc-pause-btn-wrapper">
    <button
        class="pc-pause-btn-item"
        @click="('pause', $event)"
      >
        <img :src="pauseIcon">
      </button>
  </div>
</template>

<script>
import Vue from 'vue';
import PauseIcon from '../../assets/icons/equalizer-icon.png';

export default Vue.extend({
  name: 'PauseButton',
  props: {
  },
  data() {
    return {
      pauseIcon: PauseIcon,
    };
  },
});
</script>

<style scoped>
.pc-pause-btn-item {
  cursor: pointer;
  background-color: #FFF;
  padding: 12px;
  text-align: center;
  border: solid 1px #e9eaec;
  border-radius: 50%;
  text-align: center;
}

.pc-pause-btn-item:focus {
  outline:0;
}

.pc-pause-btn-item > img {
  max-width: 24px;
  max-height: 24px;
}
</style>

