<template>
  <button @click="('play', $event)">
    <i class="far fa-play"></i>
  </button>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'PlayButton',
  props: {
  },
  data() {
    return {
      playIcon: '',
    }
  },
});
</script>

<style scoped>
/* .pc-play-btn-item {
  cursor: pointer;
  background-color: #FFF;
  padding: 12px;
  text-align: center;
  border: solid 1px #e9eaec;
  border-radius: 50%;
  text-align: center;
}

.pc-play-btn-item:focus {
  outline:0;
}

.pc-play-btn-item > img {
  max-width: 24px;
  max-height: 24px;
} */
</style>

