<template>
  <audio ref="audio"></audio>
</template>

<script>
import { EventBus } from '@/eventbus'

let activeMutex = null
function warn (message) {
  // eslint-disable-next-line no-console
  console.warn(message)
}

export default {
  name: 'Player',
  props: {
    url: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  computed: {
    audio () {
      return this.$refs.audio
    },
  },
  data() {
    return {
      audioPlayPromise: Promise.resolve(),
      playStat: {
        duration: 0,
        loadedTime: 0,
        playedTime: 0,
      },
      isPlaying: false,
      isLoading: true,
    }
  },
  created() {
    EventBus.$on('togglePlayer', this.toggle)
  },
  mounted (){
    this.audio.addEventListener('play', this.onAudioPlay)
    this.audio.addEventListener('pause', this.onAudioPause)
    this.audio.addEventListener('abort', this.onAudioPause)
    this.audio.addEventListener('waiting', this.onAudioWaiting)
    this.audio.addEventListener('canplay', this.onAudioCanplay)
    this.audio.addEventListener('progress', this.onAudioProgress)
    this.audio.addEventListener('durationchange', this.onAudioDurationChange)
    this.audio.addEventListener('seeking', this.onAudioTimeUpdate)
    this.audio.addEventListener('seeked', this.onAudioTimeUpdate)
    this.audio.addEventListener('timeupdate', this.onAudioTimeUpdate)
    // this.audio.addEventListener('volumechange', this.onAudioVolumeChange)
    // this.audio.addEventListener('ended', this.onAudioEnded)
    this.audio.src = this.url
    this.audio.type = this.type
  },
  methods: {
    toggle () {
      if (!this.audio.paused) {
        this.pause()
      } else {
        this.play()
      }
    },
    play () {
        if (this.mutex) {
        if (activeMutex && activeMutex !== this) {
          activeMutex.pause()
        }
        activeMutex = this
      }
      // handle .play() Promise
      const audioPlayPromise = this.audio.play()
      if (audioPlayPromise) {
        return this.audioPlayPromise = new Promise((resolve, reject) => {
          // rejectPlayPromise is to force reject audioPlayPromise if it's still pending when pause() is called
          this.rejectPlayPromise = reject
          audioPlayPromise.then((res) => {
            this.rejectPlayPromise = null
            resolve(res)
          }).catch(warn)
        })
      }
    },
    pause () {
      this.audioPlayPromise
        .then(() => {
          this.audio.pause()
        })
        // Avoid force rejection throws Uncaught
        .catch(() => {
          this.audio.pause()
        })
      // audioPlayPromise is still pending
      if (this.rejectPlayPromise) {
        // force reject playPromise
        this.rejectPlayPromise()
        this.rejectPlayPromise = null
      }
    },
    // event handlers
    onAudioPlay () {
      this.isPlaying = true
      this.$emit('isPlaying', this.isPlaying)
    },
    onAudioPause () {
      this.isPlaying = false
      this.$emit('isPlaying', this.isPlaying)
    },
    onAudioWaiting () {
      this.isLoading = true
      this.$emit('isLoading', this.isLoading)
    },
    onAudioCanplay () {
      this.isLoading = false
      this.$emit('isLoading', this.isLoading)
    },
    onAudioDurationChange () {
      if (this.audio.duration !== 1) {
        this.playStat.duration = this.audio.duration
        this.$emit('playStat', this.playStat)
      }
    },
    onAudioProgress () {
      if (this.audio.buffered.length) {
        this.playStat.loadedTime = this.audio.buffered.end(this.audio.buffered.length - 1)
      } else {
        this.playStat.loadedTime = 0
      }
      this.$emit('playStat', this.playStat)
    },
    onAudioTimeUpdate () {
      this.playStat.playedTime = this.audio.currentTime
      this.$emit('playStat', this.playStat)
    },
  }
}
</script>

<style scoped>
</style>
