<template>
  <div class="detail">
    <div class="head">
      <div class="image">
        <img :src="url">
      </div>
      <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ author }}</p>
      </div>
    </div>
    <p class="info">{{ content }}</p>
  </div>
</template>
<script>
import Vue from 'vue';
export default Vue.extend({
  name: 'PodcastDetail',
  props: {
    url: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    author: {
      type: String,
      required: true,
    },
    content: {
      type: String,
      required: true,
    }
  }
});
</script>
