<template>
  <div class="item">
    <div class="play-button">
      <slot name="button" />
    </div>
    <div class="content">
      <div class="name">{{ name }}</div>
      <div class="detial">{{ detial }}</div>
      <div class="date">{{ date }}</div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'PodcastSubList',
  props: {
    name: {
      type: String,
      required: true,
    },
    detial: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
  },
});
</script>
