<template>
  <div class="titlebar">
    <div class="icon-left" @click="back">
      <i v-show="backIcon" class="fad fa-arrow-left"></i>
    </div>
    <div class="title">{{ title }}</div>
    <div class="icon-right">
      <i v-show="searchIcon" class="fad fa-search"></i>
    </div>
  </div>
</template> 
<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    backIcon: {
      type: Boolean,
      default: false,
    },
    searchIcon: {
      type: Boolean,
      default: false,
    },
    routeName: {
      type: String,
      default: '',
    }
  },
  methods: {
    back() {
      this.$router.push(`/${this.routeName}`);
    }
  }
};
</script>
