<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
        <defs>
            <path id="a" d="M0 0h64v64H0z"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <mask id="b" fill="#fff">
                <use xlink:href="#a"/>
            </mask>
            <path fill="#00C700" fill-rule="nonzero" d="M50.075 29c-1.312-8.65-8.78-15.28-17.796-15.28-9.941 0-18 8.06-18 18 0 .777.05 1.546.146 2.306a2 2 0 0 1-3.968.506 22.193 22.193 0 0 1-.178-2.811c0-12.15 9.85-22 22-22 11.23 0 20.493 8.413 21.834 19.279h4.486l-6.253 8.889L46 29h4.075z" mask="url(#b)"/>
            <text fill="#000" font-family="Kanit-Bold, Sukhumvit Tadmai" font-size="20" font-weight="bold" mask="url(#b)">
                <tspan x="20.2" y="40">15</tspan>
            </text>
        </g>
    </svg>

</template>
