<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
        <defs>
            <path id="a" d="M0 0h64v64H0z"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <mask id="b" fill="#fff">
                <use xlink:href="#a"/>
            </mask>
            <path fill="#00C700" fill-rule="nonzero" d="M16 0v64l48-32L16 0zm8 14.948L49.578 32 24 49.052V14.948z" mask="url(#b)"/>
        </g>
    </svg>
</template>
