<template>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" height="64" viewBox="0 0 64 64">
                <defs>
                        <path id="a" d="M0 0h64v64H0z"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                        <mask id="b" fill="#fff">
                                <use xlink:href="#a"/>
                        </mask>
                        <path fill="#00C700" fill-rule="nonzero" d="M14.483 29H18.6l-4.494 6.389a2.012 2.012 0 0 1-.056.08l-1.703 2.42L6 29h4.446C11.786 18.134 21.05 9.72 32.279 9.72c12.15 0 22 9.85 22 22a2 2 0 1 1-4 0c0-9.94-8.059-18-18-18-9.016 0-16.484 6.63-17.796 15.28z" mask="url(#b)"/>
                        <text fill="#000" font-family="Kanit-Bold, Sukhumvit Tadmai" font-size="20" font-weight="bold" mask="url(#b)">
                                <tspan x="20.2" y="40">15</tspan>
                        </text>
                </g>
        </svg>

</template>
