<template>
  <div id="app">
    <div class="page">
      <router-view />
    </div>
  </div>
</template>

<script>
import '@fortawesome/fontawesome-pro/css/all.css'
export default {}
</script>
<style lang="less">
@import '~@/assets/less/style';
</style>
